body {
    background-color: #180773;
    color: #FFCB00;

}
.wrapper {
    text-align: center;
}

h1 {
    color: #FFE373;
    font-size: 50px;
    font-style: italic;
}

.game-result {
    width: 200px;
    border: 2px solid #9240D5;
    background-color: #3F046F;
    border-radius: 5px;
    font-size: 20px;
    padding: 7px;
    font-weight: bold;
    margin: auto auto 50px;
}

.game-board {
    margin: auto;
    width: 305px;
}

.game-result button {
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    color: black;
    font-style: oblique;
    cursor: pointer;
}

.square {
    background: #BFBA30;
    border: 2px solid #A68400;
    float: left;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    line-height: 80px;
    border-radius: 5px;
    color: #A68400;
}

.btn-style{
    cursor: pointer;
    background-color: white;
}

.btn-style:disabled{
    cursor: default;
    background-color: gray;
}